@use 'sass:map';
@use './mixins/mixins' as *;
@use './common/var' as *;

$input-padding: () !default;
$input-padding: map.merge(
        (
            'small': 7px,
            'default': 11px,
            'large': 15px
        ),
        $input-padding
);
$input-font-size: () !default;
$input-font-size: map.merge(
        (
            'small':12px,
            'large': 14px,
        ),
        $input-font-size
);
@include b(input) {
    @include set-component-css-var('input', $input);
}

@include b(input) {
    position: relative;
    font-size: getCssVar('font-size', 'base');
    width: getCssVar('input-width');
    height: getCssVar('component-size');
    vertical-align: middle;
    &:hover {
        @include e(wrapper) {
            border-color: getCssVar('input-hover-border-color');
        }
    }
    @include when(disabled) {
        cursor: not-allowed;
        @include e(wrapper) {
            cursor: not-allowed;
            border-color: getCssVar('disabled', 'border-color');
            background: getCssVar('disabled', 'bg-color');
        }
        @include e(inner) {
            cursor: not-allowed;
            color: getCssVar('disabled', 'text-color');
        }
    }
    @include when(focus) {
        @include e(wrapper) {
            border-color: getCssVar('color', 'primary');
        }
        @include e(suffix) {
            @include m(inner) {
                cursor: pointer;
            }
        }
    }
    @include e(wrapper) {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        //flex-grow: 1;
        border: getCssVar('border');
        border-radius: getCssVar('border-radius', 'base');
        padding: 0px map.get($input-padding, 'default');
        height: 100%;
        width: 100%;
        transition: all getCssVar('transition-duration');
    }
    @include e(inner) {
        outline: none;
        height: 100%;
        width: 100%;
        border: none;
        font-size: getCssVar('font-size', 'base');
        color: getCssVar('input', 'text-color');
        margin: 0;
        padding: 0;
        &::-webkit-input-placeholder {
            color: getCssVar('text-color', 'placeholder');
        }
    }
    .#{$B}__prefix, .#{$B}__suffix {
        display: inline-flex;
        white-space: nowrap;
        flex-shrink: 0;
        flex-wrap: nowrap;
        width: 22px;
        height: 100%;
        text-align: center;
        pointer-events: none;
        color: getCssVar('input', 'icon-color');
        transition: all getCssVar('transition', 'duration');
        &.#{$B}__suffix{
            justify-content: flex-end;
        }
        .#{$B}__prefix--inner, .#{$B}__suffix--inner {
            pointer-events: all;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }
    }
    @each $size in (small, large) {
        @include m($size) {
            height: getCssVar('component-size', $size);
            font-size: map.get($input-font-size, $size);
            @include e(wrapper) {
                padding: 0px map.get($input-padding, $size);
            }
        }
    }
}