@use 'sass:map';
@use './mixins/mixins' as *;
@use './common/var' as *;

@include b(select) {
    display: inline-flex;
    vertical-align: middle;
    position: relative;
    line-height: map.get($common-component-size, 'default');
}