@use 'sass:map';
@use './mixins/mixins' as *;
@use './common/var' as *;

$switch-height: () !default;
$switch-height: map.deep-merge(
        (
            'default': 32px,
            'small': 24px,
            'large': 40px
        ),
        $switch-height
);

$switch-color-width: () !default;
$switch-color-width: map.deep-merge(
        (
            'default': 40px,
            'small': 30px,
            'large': 50px
        ),
        $switch-color-width
);

$switch-core-height: () !default;
$switch-core-height: map.deep-merge(
        (
            'default': 20px,
            'small': 16px,
            'large': 24px
        ),
        $switch-core-height
);
$switch-core-border-radius: () !default;
$switch-core-border-radius: map.deep-merge(
        (
            'default': 10px,
            'small': 8px,
            'large': 12px
        ),
        $switch-core-border-radius
);
$switch-action-size: () !default;
$switch-action-size: map.deep-merge(
        (
            'default': 16px,
            'small': 12px,
            'large': 20px
        ),
        $switch-action-size
);
$switch-label-font-size: () !default;
$switch-label-font-size: map.deep-merge(
        (
            'default': 14px,
            'small':12px,
            'large': 14px
        ),
        $switch-label-font-size
);
@include b(switch) {
    @include set-component-css-var('switch', $switch);
}

@mixin setSwitchWrapStyle($size: 'default') {
    min-width: #{map.get($switch-color-width, $size)};
    height: map.get($switch-height, $size);
    line-height: map.get($switch-core-height, $size);
}

@mixin setSwitchCoreStyle($size: 'default') {
    min-width: #{map.get($switch-color-width, $size)};
    height: map.get($switch-core-height, $size);
    border-radius: map.get($switch-core-border-radius, $size);
}

@mixin setSwitchActionStyle($size: 'default') {
    width: map.get($switch-action-size, $size);
    height: map.get($switch-action-size, $size);
}

@include b(switch) {
    @include setSwitchWrapStyle('default');
    font-size: map.get($switch-label-font-size, 'default');
    vertical-align: middle;
    position: relative;
    display: inline-flex;
    align-items: center;
    @include e(core) {
        display: inline-flex;
        position: relative;
        align-items: center;
        @include setSwitchCoreStyle('default');
        background-color: getCssVar('switch', 'off-color');
        outline: none;
        cursor: pointer;
        overflow: hidden;
        border: 1px solid getCssVar('switch', 'off-color');
        box-sizing: border-box;
        transition: border-color getCssVar('transition-duration') background-color getCssVar('transition-duration');
    }
    @include e(action) {
        position: absolute;
        @include setSwitchActionStyle('default');
        border-radius: getCssVar('border-radius-circle');
        background-color: getCssVar('color-white');
        left: 1px;
        transition: all getCssVar('transition-duration');
        display: flex;
        align-items: center;
        justify-content: center;
        color: getCssVar('switch', 'off-color');
    }
    @include e(inner) {
        width: 100%;
        transition: all getCssVar('transition-duration');
        overflow: hidden;
        height: map.get($switch-core-height, 'default');
        display: flex;
        align-items: center;
        justify-content: center;
        //width: map.get($switch-action-size, $size);
        //    height: map.get($switch-action-size, $size);
        padding: 0 4px 0 map.get($switch-action-size, 'default') + 2px;
        .is-text, .is-icon {
            font-size: 12px;
            color: getCssVar('color-white');
            user-select: none;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    @include e(input) {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
        margin: 0;
        z-index: 0;
    }
    @include e(label) {
        font-size: map.get($switch-label-font-size, 'default');
        height: map.get($switch-core-height, 'default');
        font-weight: 500;
        cursor: pointer;
        vertical-align: middle;
        transition: all getCssVar('transition-duration');
        color: getCssVar('text', 'color-primary');
        @include m(left) {
            margin-right: 10px;
        }
        @include m(right) {
            margin-left: 10px;
        }
        @include when(active) {
            color: getCssVar('color-primary');
        }
        * {
            line-height: 1;
            display: inline-block;
        }
        .#{$namespace}-icon {
            height: inherit;
        }
    }
    @include when(checked) {
        @include e(core) {
            background-color: getCssVar('switch', 'on-color');
            border-color: getCssVar('switch', 'on-color')
        }
        @include e(action) {
            left: calc(100% - #{map.get($switch-action-size, 'default') + 1px});
            color: getCssVar('switch', 'on-color');
        }
        @include e(inner) {
            padding: 0 map.get($switch-action-size, 'default') + 2px 0 4px;
        }
    }
    @include when(disabled) {
        opacity: .6;
        & .#{$namespace}-switch__core, & .#{$namespace}-switch__action {
            cursor: not-allowed;
        }
    }
    @each $size in (small, large) {
        font-size: map.get($switch-label-font-size, $size);
        @include m($size) {
            @include setSwitchWrapStyle($size);
            @include e(core) {
                @include setSwitchCoreStyle($size);
            }
            @include e(action) {
                @include setSwitchActionStyle($size);
            }
            @include e(inner) {
                height: map.get($switch-action-size, $size);
                padding: 0 4px 0 map.get($switch-action-size, $size) + 2px;
            }
            @include when(checked) {
                @include e(action) {
                    left: calc(100% - #{map.get($switch-action-size, $size) + 1px});
                }
                @include e(inner) {
                    padding: 0 map.get($switch-action-size, $size) + 2px 0 4px;
                }
            }
            @include e(label) {
                height: map.get($switch-core-height, $size);
                * {
                    font-size: map.get($switch-label-font-size, $size);
                }
            }
        }
    }
}
