@use 'sass:map';

@use 'mixins/mixins' as *;
@use 'mixins/var' as *;
@use 'common/var' as *;

@include b(text) {
    @include set-component-css-var('text', $text)
}

@include b(text) {
    margin: 0;
    padding: 0;
    word-break: break-all;
    align-self: center;
    font-size: getCssVar('text', 'font-size');
    color: getCssVar('text', 'color');
    @each $type in $types {
        @include m($type) {
            color: getCssVar();
        }
    }
}
