@use 'config' as *;
@forward "config";

// s-text
@mixin b($block: 'text') {
    $B: $namespaces + $common-separator + $block !global;
    .#{$B} {
        @content;
    }
}

// s-text__title
@mixin e($element: '') {
    $E: $element !global;
    $selector: &;
    $currentSelector: '';
    @each $unit in $element {
        $currentSelector: #{
            $currentSelector + '.' + $B + $element-separator + $unit + ','
        }
    }
    #{$currentSelector} {
        
    }

}
